@{
	Layout = "_Layout";
}

<h1 id="title">Pierre's Sweet and Savory Treats</h1>

<hr />

<p>
	@Html.ActionLink("View all flavors", "Index", "Flavors")
	|
	@Html.ActionLink("View all treats", "Index", "Treats")
</p>